extends ../layout/default

block main
	hr
	.pull-left
		button.btn.btn-success(ng-click="main.goTo('sites')") Sites
		button.btn.btn-info(ng-click="main.goTo('videos')") Videos
		button.btn.btn-primary(ng-click="main.goTo('actors')") Actors
	.pull-right
		button.btn.btn-info(type='button', ng-click='main.logout()') Logout!
	.clearfix
	hr
	.row
		.col-md-12
			table.table.table-striped.table-hover
				thead
					tr
						th #
						th Titre
						th Actors
						th Site
						th Tags
						th Rating
				tbody
					tr(ng-repeat='video in main.videos')
						td {{$index}}
						td {{video.title}}
						td
							span(ng-repeat='actor in video.actors') {{actor.name}},
						td {{video.site.name}}
						td blank
						td(star-rating="", rating="video.rating")
